<%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/navbar') %>
    <main>
        <h1>Hello from Airbnb</h1>
        <a href="/host/add-home">Add Home</a>
        <h2>Available Homes</h2>
        <ul>
            <% registeredHomes.forEach(home=>{%>
                <li>
                    <img src="<%=home.photo%>" alt="Description of image">
                    <h3>Home Name: <%=home.houseName%></h3>
                    <p>Price Per Night: <%=home.pricePerNight%></p>
                    <p>Location: <%=home.location%></p>
                    <p>Rating: <%=home.rating%></p>
                    <button>Add To Favourite</button>
                    <button>Book it now</button>
                </li>
            <% })%>
        </ul>
    </main>
    
</body>
</html>