<%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/navbar') %>
  <main class="favourite-container">
    <h1 class="favourite-title">Your Favourite List</h1>
    <ul class="favourite-list">
      <% favouriteHomes.forEach(home => { %>
        <li class="favourite-card">
          <img src="<%= home.photo %>" alt="Description of image" class="favourite-img">
          <div class="favourite-info">
            <h3 class="favourite-name"><%= home.houseName %></h3>
            <p class="favourite-price">💰 <%= home.pricePerNight %> / night</p>
            <p class="favourite-location">📍 <%= home.location %></p>
            <p class="favourite-rating">⭐ <%= home.rating %></p>
            <div class="favourite-actions">
              <button class="btn btn-fav">❤️ Remove Favourite</button>
              <button class="btn btn-book">Book Now</button>
            </div>
          </div>
        </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
